<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="http://key.clg.io/images/favicon.png" size="16x16" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Who's the key?" %></title>

    <%= stylesheet_link_tag "normalize","main" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="nav-ontop">
        <div class="nav-wrapper">
          <a href="http://key.clg.io" class="brand-logo"><%= image_tag ('title-logo.png') %></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          <ul class="right hide-on-med-and-down nav-ul">
            <li><a href="#link1">活動簡介</a></li>
            <li><a href="#link2">活動流程</a></li>
            <li><a href="#link3">主辦單位</a></li>
            <li><a href="#link4">我要報名</a></li>
          </ul>
          <a class="waves-effect waves-light btn back-to-home" href="http://key.clg.io">回活動頁</a>
          <ul class="side-nav nav-ul" id="mobile-demo">
            <li><a href="#link1">活動簡介</a></li>
            <li><a href="#link2">活動流程</a></li>
            <li><a href="#link3">主辦單位</a></li>
            <li><a href="#link4">我要報名</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <%= yield %>
    <script>
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
      })
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60031864-3', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
