<style>
    .back-to-home{ display: none; }
    #map_canvas { width: 100%; min-height: 600px; height: 250px;}
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=&sensor=true"></script>
<script type="text/javascript">
  function initialize() {
    var isDraggable = $(document).width() > 480 ? true : false;
    var myLatlng = new google.maps.LatLng(25.004274, 121.538361)
    var mapOptions = {
      draggable: isDraggable,
      center: myLatlng,
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      scrollwheel: false
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);
    var contentString = '<div>' + 'Changee Playground' + '</div>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Uluru (Ayers Rock)'
    });
    infowindow.open(map,marker);
  }
</script>
<div class="container-fluid">
	<div class="row">
        <div class="col-md-12 home">
            <div class="home-bg-cover"></div>
            <div class="home-skew-bg"></div>
            <div class="home-inner">
                <div class="home-inner-title">
                    <div class="logo">
                        <%= image_tag ('title-logo.png') %>
                    </div>
                    <div class="text">
                        <%= image_tag ('title-text.png') %>
                    </div>
                    <div>
                      <p style="font-size: 16px; color: #fff;">一封專屬於系學會的神秘邀約<br>一場結合各地大學的交流盛會</p>
                    </div>
                </div>
            </div>
            <div class="row info" style="text-align:center;">
              <div class="col-md-4">時間：5/11 18:00</div>
              <div class="col-md-4">地點：Changee Playground (萬隆)</div>
              <div class="col-md-4">#請務必攜帶您收到的鑰匙</div>
            </div>
        </div>
    		<div class="col-md-12 about">
    			<div class="about-inner">
            <div class="field-title" id="link1">
                <%= image_tag ('about.png') %>
            </div>
    				<blockquote>
                「Colorgy 活動鑰領」<br>
                認識各校各地、與你相同的系會菁英<br>
                聽見歷屆超強活動咖的經驗血淚分享<br>
                為系上爭取最獨特、最豐富的贊助獎品！<br>
                免費報名，現場有免費酒水、食物招待！<br>
                <br>
                音樂 x 交流 x 贊助<br>
                <br>
                參加這場活動的關鍵（key），已經在你的手上！<br><br>
                PS. 即將上任 ＆ 現任系學會幹部歡迎協同參加！
    				</blockquote>
    			</div>
    		</div>
        <div class="col-md-12">
          <div class="row info">
            <div class="col-md-6">
              ＃新任幹部建立各校人脈
            </div>
            <div class="col-md-6">
              ＃現任幹部揪團齊來拉贊
            </div>
          </div>
        </div>
        <div class="col-md-12 process">
          <div class="process-inner">
                    <div class="field-title" id="link2">
                        <%= image_tag ('process.png') %>
                    </div>
                    <!--
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                          <div class="collapsible-header">1. 簽到、各系會交流時間</div>
                          <div class="collapsible-body">
                              <ul>
                                  <li>各系系會陸續抵達會場、簽到</li>
                                  <li>學⽣群⾃由交流</li>
                                  <li>播放贊助廠商影⽚</li>
                                  <li>現場備茶點、飲料，參加者可⾃行取用</li>
                              </ul>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header">2. 活動開場、贊助推廣</div>
                          <div class="collapsible-body">
                              <ul>
                                  <li>主持⼈人開場，介紹本次活動之贊助商訊息。</li>
                              </ul>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header">3. 破冰遊戲</div>
                          <div class="collapsible-body">
                              <ul>
                                <li>進⼊入分享前的暖場活動</li>
                                <li>「Speed Dating」- 促進參加者間的交流認識</li>
                              </ul>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header">4. 活動經驗分享</div>
                          <div class="collapsible-body">
                              <ul>
                                  <li>五位講者，每位 8 mins</li>
                                  <li>預計邀請講者:台⼤大藝術季/政⼤大⾦金弦獎/淡江知識⺩王/清交梅⽵竹賽/台⼤大學⽣生會</li>
                              </ul>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header">5. Colorgy 下學期各校合作計畫</div>
                          <div class="collapsible-body">
                              <ul>
                                  <li>介紹 Colorgy Books 平台理念、與下學期的各校合作計畫</li>
                              </ul>
                          </div>
                        </li>
                        <li>
                          <div class="collapsible-header">6. Q & A、講者交流時間</div>
                          <div class="collapsible-body">
                              <ul>
                                  <li>活動尾聲,可⾃自由交流/聊天</li>
                                  <li>活動獎品開獎時間</li>
                              </ul>
                          </div>
                        </li>
                    </ul>-->
                    <table class="hoverable">
                      <thead>
                        <tr>
                          <th>時間</th>
                          <th>活動名稱</th>
                          <th>活動內容</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>18 : 00 ~ 18 : 30</td>
                          <td>簽到、各系會交流時間</td>
                          <td>
                              <ul>
                                  <li>各系系會陸續抵達會場、簽到</li>
                                  <li>學⽣群⾃由交流、打公關、認識新朋友</li>
                                  <li>現場備茶點、飲料、音樂，在舒適的環境下進行活動！</li>
                              </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>18 : 30 ~ 18 : 40</td>
                          <td>活動開場、贊助推廣</td>
                          <td>
                              <ul>
                                  <li>主持⼈開場，介紹本次活動之贊助商訊息，這裏有各種贊助商合作資訊，只怕你不來！</li>
                              </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>18 : 40 ~ 19 : 00</td>
                          <td>破冰遊戲</td>
                          <td>
                              <ul>
                                <li>想認識你旁邊的正妹卻不想開口嗎？別擔心！進⼊分享前的暖場活動，促進大家交流認識！</li>
                                <li>「Speed Dating」- 促進參加者間的交流認識</li>
                              </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>19 : 00 ~ 20 : 00</td>
                          <td>活動經驗分享</td>
                          <td>
                              <ul>
                                  <li>這次 Colorgy 邀請到五批有經驗的講者，來跟我們分享他們如何籌辦活動！ 想吸收他們的活動經驗嗎？ 來就對啦！</li>
                                  <li>預計邀請講者: 台⼤藝術季 / 政⼤金旋獎 / 淡江知識王 / 清交梅竹賽/台⼤學生會 </li>
                              </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>20 : 20 ~ 20 : 40</td>
                          <td>Colorgy 下學期各校合作計畫</td>
                          <td>
                              <ul>
                                  <li>輪到我們 Colorgy 跟大家分享我們的平台理念哦！我們也有想要跟大家合作的合作企劃！誠摯邀請各個系會、學會！大家一起 Color Your College ！</li>
                              </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>20 : 40 ~ 21 : 00</td>
                          <td>Q & A、講者交流時間</td>
                          <td>
                              <ul>
                                  <li>活動進入尾聲，大家可以提問討論、互相拍照留念、留下連絡資訊、把吃不完的食物吃光(誤)。</li>
                                  <li>最重要的活動獎品開獎時間！我們絕對準備了超棒的禮物，由 Colorgy 以及各家贊助商提供！你能不待到最後嗎嘿嘿！</li>
                              </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
          </div>
          <div class="speaker-inner">
            <div class="field-title" id="link2" style="margin-top: 50px;">
                <%= image_tag ('speaker.png') %>
            </div>
            <div class="row speaker-isotope">
              <div class="col-md-2 col-sm-4 speaker-isotope-item">
                <div class="speaker-item">
                  <div class="speaker-from">
                    台大學生會
                  </div>
                  <div class="speaker-info">
                    <div class="speaker-pic">
                      <%= image_tag('speaker/ntu-1.jpg') %>
                    </div>
                    <div class="speaker-name">
                      陳泓旭
                    </div>
                    <div class="speaker-school-info">
                      臺大政治系二年級
                    </div>
                    <div class="speaker-job">
                      <div class="title">
                        現任
                      </div>
                      <ul>
                        <li>臺大學生會會長秘書</li>
                        <li>臺大附中校友會會長</li>
                        <li>師大附中語言藝術研究社指導老師</li>
                      </ul>
                    </div>
                    <div class="speaker-history">
                      <div class="title">
                        經歷
                      </div>
                      <ul>
                        <li>2012年臺大菁英盃全國高中職辯論比賽冠軍暨最佳辯士</li>
                        <li>2014年大政盃大專院校辯論比賽亞軍</li>
                        <li>臺大政大附中中山聯合宿營總召</li>
                        <li>臺大創校86週年校慶紀念活動副召</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 speaker-isotope-item w2">
                <div class="row">
                  <div class="speaker-item">
                    <div class="speaker-from">
                      淡江知識王
                    </div>
                    <div class="col-md-6">
                      <div class="speaker-info">
                        <div class="speaker-pic">
                          <%= image_tag('speaker/tk-1.jpg') %>
                        </div>
                        <div class="speaker-name">
                          洪如信(mic)
                        </div>
                        <div class="speaker-school-info">
                          淡江數學系二年級
                        </div>
                        <div class="speaker-job">
                          <div class="title">
                            現任
                          </div>
                          <ul>
                            <li>淡江大學數學系系學會會長</li>
                          </ul>
                        </div>
                        <div class="speaker-history">
                      <div class="title">
                        經歷
                      </div>
                          <ul>
                            <li>淡江知識王之五院爭霸總召</li>
                            <li>2014 迎新茶會總召</li>
                            <li>迎新宿營執行長</li>
                            <li>理學之夜總召</li>
                            <li>捷運大富翁總召</li>
                            <li>103幹部訓練營學員</li>
                            <li>淡海同舟社團負責人研習營</li>
                            <li>2015 書入愛心義賣總召</li>
                            <li>南山人壽業務員招考之掏寶營學員</li>
                            <li>拉斯維加斯賭城計總召</li>
                            <li>淡江電子競技賽總召</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="speaker-info">
                        <div class="speaker-pic">
                          <%= image_tag('speaker/tk-2.jpg') %>
                        </div>
                        <div class="speaker-name">
                          許元誠 ( David )
                        </div>
                        <div class="speaker-school-info">
                          淡江國企系三年級
                        </div>
                        <div class="speaker-job">
                          <div class="title">
                            現任
                          </div>
                          <ul>
                            <li>國企系學會會長</li>
                            <li>PIPE執行長</li>
                          </ul>
                        </div>
                        <div class="speaker-history">
                      <div class="title">
                        經歷
                      </div>
                          <ul>
                            <li>2013 赴廈門大學交換學生 </li>
                            <li>2014 國企之夜執行長</li>
                            <li>2014 僑委會海外華裔青年語文研習輔導員</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 speaker-isotope-item">
                <div class="speaker-item">
                  <div class="speaker-from">
                    政大金旋獎
                  </div>
                  <div class="speaker-info">
                    <div class="speaker-pic">
                      <%= image_tag('speaker/nccu-1.jpg') %>
                    </div>
                    <div class="speaker-name">
                      吳孟學
                    </div>
                    <div class="speaker-school-info">
                      政大XX系三年級
                    </div>
                    <div class="speaker-job">
                      <div class="title">
                        現任
                      </div>
                      <ul>
                        <li>第32屆政大金旋獎總召</li>
                      </ul>
                    </div>
                    <div class="speaker-history">
                      <div class="title">
                        經歷
                      </div>
                      <ul>
                        <li>政治大學商院大使</li>
                        <li>第32屆政大金旋獎總召</li>
                        <li>第31屆政大金旋獎公關媒體組長</li>
                        <li>第30屆政大金旋獎公關組員</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 speaker-isotope-item">
                <div class="speaker-item">
                  <div class="speaker-from">
                    清交梅竹賽
                  </div>
                  <div class="speaker-info">
                    <div class="speaker-pic">
                      <%= image_tag('speaker/nthu-1.jpg') %>
                    </div>
                    <div class="speaker-name">
                      陳奕廷
                    </div>
                    <div class="speaker-school-info">
                      清大材料系大三
                    </div>
                    <div class="speaker-job">
                      <div class="title">
                        現任
                      </div>
                      <ul>
                        <li>乙未梅竹工作會 主席</li>
                      </ul>
                    </div>
                    <div class="speaker-history">
                      <div class="title">
                        經歷
                      </div>
                      <ul>
                        <li>台灣世界展望會暑期營協助偏鄉兒童課輔</li>
                        <li>重慶大學2014海峽兩岸大學生三峽文化夏令營</li>
                        <li>甲午梅竹工作會 電競組 &演唱會組 </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="reward-inner">
            <div class="field-title" id="link2" style="margin-top: 50px;">
                <%= image_tag ('reward.png') %>
            </div>
            <div class="row reward-isotope">
              <div class="reward-isotope-item">
                <div class="reward-item">
                  <div class="reward-pic">
                    <%= image_tag ('iphone5c-reward.jpg') %>
                  </div>
                  <div class="reward-info">
                    <div class="reward-name">
                      電腦先生 Iphone 5C
                    </div>
                  </div>
                </div>
              </div>
              <div class="reward-isotope-item">
                <div class="reward-item">
                  <div class="reward-pic">
                    <%= image_tag ('icecream-reward.jpg') %>
                  </div>
                  <div class="reward-info">
                    <div class="reward-name">
                      Mini Iceream 粒粒冰淇淋
                    </div>
                  </div>
                </div>
              </div>
              <div class="reward-isotope-item">
                <div class="reward-item">
                  <div class="reward-pic">
                    <%= image_tag ('colorgy-reward.jpg') %>
                  </div>
                  <div class="reward-info">
                    <div class="reward-name">
                      Colorgy 神秘大禮
                    </div>
                  </div>
                </div>
              </div>
              <div class="reward-isotope-item">
                <div class="reward-item">
                  <div class="reward-pic">
                    <%= image_tag ('kirin-reward.jpg') %>
                  </div>
                  <div class="reward-info">
                    <div class="reward-name">
                      麒麟啤酒
                    </div>
                  </div>
                </div>
              </div>
              <div class="reward-isotope-item">
                <div class="reward-item">
                  <div class="reward-pic">
                    <%= image_tag ('uber-reward.jpg') %>
                  </div>
                  <div class="reward-info">
                    <div class="reward-name">
                      Uber 300元搭車體驗
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-12 location">
          <div class="location-inner">

            <div class="row">
              <div class="col-md-7 col-md-push-5">
                <div class="location-info">
                <div class="field-title" id="link1">
                    <%= image_tag ('location-title.png') %>
                </div>
                  <h3>Changee Playground</h3>
                  <hr>
                  <ul>
                    <li>地址： 116台北市文山區羅斯福路五段176巷2號</li>
                    <li>時間： 2015 / 5 / 11 晚上6:00 準時入場</li>
                    <h4>交通資訊</h4>
                    <li>1. 搭捷運至捷運萬隆站，沿著羅斯福路步行 5 分鐘</li>
                    <li>2. Uber 有提供300組300元抵用接駁車，請下載APP( <a target="_blank" href="https://play.google.com/store/apps/details?id=com.ubercab&hl=zh_TW">Andorid</a> / <a target="_blank" href="https://itunes.apple.com/tw/app/uber/id368677368?mt=8">IOS</a> )，並使用<a href="#" class="uberModal">優惠代碼</a></li>
                    <li># 現場有提供酒精類飲品，請斟酌您的交通方式</li>
                    <li># 在此提倡『喝酒不開車，開車不喝酒』</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-5 col-md-pull-7">
                <div id="map_canvas"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 colorgy">
          <div class="colorgy-inner">
            <div class="field-title" id="link3">
                <%= image_tag ('organizer.png') %>
            </div>
            <div class="colorgy-logo">
                <%= image_tag ('colorgy-logo.png') %>
            </div>
            <div class="colorgy-info">
              <blockquote>
                跟你們一樣，我們都是來自於台灣校園的大學生，<br>
                Colorgy 的產生，是為了讓校園生活更加方便，希望召集大家一起建立ㄧ個充滿創造力的雲端校園平台。
              </blockquote>
              <p>
                Colorgy 是個開源的雲端平台，我們蒐集資源並開源讓全台灣所有大學生使用，<br> 跟我們一起協力合作做更便利、更好、更貼近生活的服務。
              </p>
              <blockquote>
                Colorgy Books 原文書團購服務是我們第一項要推出的線上系統，<br>
                這系統將修正傳統購書流程的瑕疵，並且更公開透明、完整便利，<br>
                讓大家在選購書籍的過程中，享受最貼心、安心、用心的服務。<br>
              </blockquote>
              <p>
                這是我們開啓的第一個校園改變，你也有想改變什麼的想法嗎？<br>
                我們邀請同樣是大學生的你們，一起加入這個改變，我們將陸續推出各項能增加校園便利的線上服務，解決大家校園中可能的不便，一起 Color your College！<br>
              </p>
            </div>
          </div>
          <div class="field-title" style="margin-top: 50px;">
                <%= image_tag ('sponsor.png') %>
          </div>
          <div class="sponsor-inner isotope">
              <div class="grid-sizer"></div>
              <div class="element-item">
                <%= image_tag('taiwan.jpg') %>
              </div>
              <div class="element-item w2">
                <%= image_tag('mrcomputer.jpg') %>
              </div>
              <div class="element-item">
                <a target="_blank" href="https://www.facebook.com/minimelts.tw?fref=ts">
                  <div class="hover-box">
                    <%= image_tag('miniicecream.jpg') %>
                    <div class="hover-box-inner">
                      粒粒冰淇淋是源自美國並在全球快速擴展國際冰淇淋品牌，現在我們非常開心能夠為台灣消費者帶來嶄新的冰淇淋體驗！
                      <hr>
                      #點擊進入粉專！
                    </div>
                  </div>
                </a>
                <div class="element-item-infobox">
                  <h5>Mini Icecream</h5>
                  <p><a target="_blank" href="https://www.facebook.com/minimelts.tw?fref=ts">進入粉專</a></p>
                </div>
              </div>
              <div class="element-item">
                <div class="hover-box">
                  <%= image_tag('uber.jpg') %>
                  <div class="element-item-infobox">
                    <h5>Uber</h5>
                    <h6>內含 Uber 乘車優惠序號<br>請點擊進入查看</h6>
                    <p><a href="#uber" class="modal-trigger">進入活動介紹</a></p>
                  </div>
                </div>
              </div>
              <div class="element-item">
                <%= image_tag('costco.jpg') %>
              </div>
              <div class="element-item w2">
                <%= image_tag('kirin.jpg') %>
              </div>

          </div>
        </div>
        <div class="col-md-12 apply">
            <div class="apply-inner">
                <div class="field-title" id="link4">
                <%= image_tag ('apply.png') %>
                </div>
                <h5>現在就報名！</h5>
                <p style="margin-top:15px;font-size: 24px;line-height: 40px;">
                吃吃喝喝／認識交流／聯誼玩樂／拉贊助順便抽獎<br>
                參加活動全面免費，要報名要快！小心名額滿了！<br>
                快點擊下面的小按鈕進入報名頁吧！<br><br>
                PS. 即將上任 ＆ 現任系學會幹部歡迎協同參加！
                </p>
                <a href="./apply.html" class="waves-effect waves-light btn-large mobile" style="margin-top: 50px;">我要報名！</a>
            </div>
        </div>
	</div>
</div>
<!-- Modal Structure -->
<div id="uber" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Uber X T-FEST </h4>
    <h5>#點擊圖片可以放大查看</h5>
    <a href="http://key.clg.io/images/uber-img1.jpg"><%= image_tag('uber-img1.jpg') %></a>
    <a href="http://key.clg.io/images/uber-img2.jpg"><%= image_tag('uber-img2.jpg') %></a>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">關閉</a>
  </div>
</div>
<script>
    $( document ).ready(function(){
        $('#modal1').leanModal();
        $('.modal-trigger').click(function(){
            $('#modal1').openModal();
        })
        $('.nav-ul a[href^="#"]').on('click',function (e) {
            e.preventDefault();

            var target = this.hash;
            var $target = $(target);

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top - 50
            }, 400, 'swing', function () {
                window.location.hash = target;
            });
        });
    })
</script>
<script>
$(window).load(function(){
    initialize()
});
$(document).ready(function(){
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal();
});
</script>
<%= javascript_include_tag "imagesloaded.min.js" %>
<%= javascript_include_tag "isotope.min.js" %>
<script>
$( function() {
  // init Isotope
  var $container = $('.isotope').imagesLoaded(function(){
    $container.isotope({
      itemSelector: '.element-item',
      columnWidth: '.grid-sizer',
    });
  });

  var $speakerContainer = $('.speaker-isotope').imagesLoaded(function(){
    $speakerContainer.isotope({
      itemSelector: '.speaker-isotope-item'
    });
  });

  var $rewardContainer = $('.reward-isotope').imagesLoaded(function(){
    $rewardContainer.isotope({
      itemSelector: '.reward-isotope-item'
    });
  });

});

$('.colorgy-logo').click(function(){
  $('.colorgy-info').slideToggle(500);
  $(this).toggleClass('open');
})
$('.uberModal').click(function(){
  $('#uber').openModal();
})
</script>
